nav {
    ul {
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        li {
            list-style: none;
            &:nth-child(1) {
                background-color: red;
                &:hover {
                    background-color: white;
                }
                &:first-child {
                    color: white;
                }
            }
            &:nth-child(2) {
                background-color: green;
            }
            &:nth-child(3) {
                background-color: blue;
            }
        }
    }
}
