body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(45deg, skyblue 0%, #e0cbfe 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .wrap {
    border: 4px solid #ddd;
} */

.card {
    width: 200px;
    height: 300px;
    background-color: skyblue;

    /* 기준 */
    position: relative;

    transition: transform 1s cubic-bezier(0.89, 0.02, 0.67, 0.99);
    transform-style: preserve-3d;
    transform: perspective(200px) scale(0.5);
    /* transform-origin: 0 50%; */
}

.front,
.back {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 48px;
    color: #fff;

    position: absolute;
    /* top: 0;
    left: 0; */

    backface-visibility: hidden;
}

.front{
    background-color: rgba(173, 255, 47, 0.8);
}

.back{
    background-color: rgba(255, 69, 0, 0.8);
    transform: rotateY(180deg);
}

/* hover */
.wrap:hover .card{
    /* transform: rotateY(180deg); */
    transform: perspective(200px) scale(1.2) rotateY(180deg);
}