@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html,body {
    box-sizing: border-box;
}

body,h1,h2,p {
    margin: 0;
    font-family: 'Pretendard-Regular', sans-serif;
}

body{
    background-color: #c4c4c4;
}

h1,h2{
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

.card-ui{
    width: 288px;
    height: 348px;
    border-radius: 8px;
    box-shadow: 2 2 8 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 10px;
    display: inline-block;
}

.card-ui img {
    width: 100%;
    aspect-ratio: 288/196;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-textbox{
    padding: 24px 16px 16px 16px;
}

.card-ui h2{
    font-weight: bold;
    color: #29363D;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-ui .card-content {
    font-size: 12px;
    color: #5a6a72;
    margin: 16px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.read {
    text-decoration: underline;
}

