/* font */
@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pretendard-Regular';
    src: url(../font/Pretendard-Regular.woff) format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* css */
html, body {
    box-sizing: border-box;
}

h1 {
    color: rgb(127, 193, 238);
    font-family: 'Black Han Sans', sans-serif;
    font-weight: normal;
}

strong {
    border-bottom: 5px solid currentColor;
}

h2 {
    color: #999;
    font-family: 'Diphylleia', serif;
}

.omyu {
    font-family: 'omyu_pretty', Dotum, "돋움", sans-serif;
}

.pr {
    font-family: 'pretendard-Regular';
}