button {
    width: 88px;
    height: 32px;
    background-color: #2d3848;
    font-size: 12px;
    margin: 10px;
}


button:enabled:hover{
    color: white;
    text-decoration: underline;
    background-color: var(--b-color);
    border: var(--border);
}
button:enabled:active{
    color: white;
    text-decoration: underline;
    border: var(--border);
}

button:disabled{
    color: #4a5568;
}

.btn{
    --m-color: white;
    --b-color: #2d3848;
    color: #cbd5df;
}

.yes{
    --b-color: #439aff;
    --border: 1px solid #73B4FF;
    color: #439AFF;
}

.del{
    --b-color: #EB5757;
    --border: 1px solid #D94242;
    color: #EB5757;
}