h1,
h2,
p {
    color: inherit;
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #FFFAF0;
}

.wrap {
    width: 100%;
    height: 100%;
}

header {
    /* width: 1440px; */
    width: auto;
    height: 120px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 108px;
}

header>img {
    width: 1440px;
    aspect-ratio: 1440/120;
}

header a {
    color: #5A6A72;
    font-size: 14px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    gap: 1px;
}

header>a img {
    width: 19px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #29363D;
}

main>h2 {
    margin-top: 71px;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline #FF4F6E;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 29px;
}

form {
    width: 392px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

form div {
    font-size: 14px;
    margin-bottom: 24px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

form input {
    height: 48px;
    border: 0;
    border-bottom:1px solid #677880;
    border-radius: 4px 4px 0 0;
}

form button {
    height: 48px;
    color: #F4F5F5;
    font-weight: bold;
    font-size: 16px;
    background-color: #29363D;
    border-radius: 4px;
}

footer {
    margin-top: 52px;
    color: #677880;
}