ul,
li {
    list-style: none;
}

li {
    margin: 10px 0;
}

button {
    cursor: pointer;

    width: 250px;
    height: 100px;
    border: 0;
    border-radius: 15px;

    font-size: 20px;
}

button:hover {
    background-color: springgreen;
}
