/* reset */
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p {
    font: inherit;
    color: inherit;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    vertical-align: top;
}

button {
    border: 0;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

/* css */
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

body {
    box-sizing: border-box;
    background-color: #eae8fe;
}

.title {
    width: 100%;
    margin: 0;
}
.title img {
    width: 368px;
    display: flex;
    margin: 0 auto;
}

.wrap {
    padding: 30px;
    display: grid;
    grid-template-areas:
        "btn input"
        "btn output";
    gap: 30px;
    margin: 70px auto;

    box-shadow: inset 0 0 10px black;
}

.btn {
    grid-area: btn;
}

.btn-list {
    display: grid;
    grid-template-columns: repeat(3, 94px);
    grid-template-rows: 1fr 1fr;
    gap: 12px;
}

.cola-btn {
    width: 94px;
    height: 130px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.cola-btn img {
    width: 36px;
    height: 65px;
}

.cola-btn span {
    color: #333;
    font-size: 9px;
}

.cola-btn strong {
    width: 70px;
    height: 22px;
    border-radius: 50px;
    background-color: #6327fe;
    font-size: 12px;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-layout {
    display: grid;
    grid-template-columns: repeat(2, 200px 94px);
    grid-template-rows: repeat(3, 32px 32px 106px);
    gap: 12px;
}

.money {
    display: flex;
    justify-content: space-between;
    background-color: #eae8fe;
}
.money p::after {
    content: "원";
}

.click {
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.input {
    width: 100px;
    height: 100px;
    background-color: orange;
    grid-area: input;
}

.output {
    width: 100px;
    height: 100px;
    background-color: skyblue;
    grid-area: output;
}
