h1,
button {
    font: inherit;
}

:root {
    --title-size: 24px;
    --title-color: #ff007a;
    --btn-active: #759cff;
}

body {
    background-color: #d9d9d9;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

.wrap {
    width: 448px;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #eeeeee;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 120px;
    background-color: #fff;
    border-bottom: 4px solid #ddd;
    border-radius: 20px 20px 0 0;

    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.header .header-title {
    color: var(--title-color);
    font-size: var(--title-size);
    font-weight: bold;
    margin-left: 40px;
}

.header-title::before {
    content: "";
    width: 8px;
    height: var(--title-size);
    background-color: var(--title-color);
    border-radius: 0 var(--title-size) var(--title-size) 0;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.wrap .main {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    flex-grow: 1;
    gap: 14px;
}

.main .btn {
    max-width: calc(100% - 80px);
    min-height: 48px;
    border: 4px solid #d9d9d9;
    border-radius: 10px;
    font-size: 1em;
    color: #888888;
    text-align: left;
    background-color: white;

    position: relative;
}

main .btn:hover {
    border-color: var(--btn-active);
    color: var(--btn-active);
}

.btn:hover::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url(./images/Frame.svg);
    position: absolute;
    top: center;
    right: 17px;
}
