@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* reset */

body, h1, h2, p {
    font: inherit
}

a {
    text-decoration: none;
    color: inherit;
}
/* css */
body{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    background-color: white;
}

.movie-card {
    width: 220px;
    height: 441px;
    border: 1px solid #bdbdbd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans Kr',sans-serif;

}

.movie-card img {
    width: 180px;
    border-radius: 10px;
    box-shadow: 0 4 4 rgba(0,0,0,0.25);
}

.movie-card h2{
    font-weight: bold;
}

.card-text{
    display: flex;
    flex-direction: column;
}

.text-align{
    display: flex;
    flex-direction: row;
}

.card-text-fir{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.movie-card p{
    font-size: 13px;
}

.card-text-title {
    color: #828282;
    margin-right: 10px;
}