.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.glasses {
    width: 500px;
    position: absolute;
    top: 150px;

}

*, *::before, *::after {
	box-sizing: border-box;
}

.lens {
    position: absolute;
    width: 200px;
    height: 180px;
    border: 20px solid #1a232a;
    background-color: transparent;
    border-radius: 80px 80px 50% 50%;
    z-index: 0;
}

.bridge {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #1a232a;
}

.lens:first-child {
    top: 10px;
    left: 20px;
}
.lens:last-child {
    top: 10px;
    right: 20px;
}

.bridge {
    top: 45px;
    left: 200px;
}
