/* header ----------------------------------------- */
header {
    margin-bottom: 95px;
}

.tit-law {
    position: relative;
}

.tit-law .img-tit {
    position: relative;
    z-index: 100;
    max-width: 564px;
}

.tit-law::after {
    display: block;
    content: "";
    width: 100%;
    max-width: 225px;
    aspect-ratio: 1/1;
    background-image: url("../images/title_bg.png");
    background-position: center;
    background-size: contain;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-txt {
    max-width: 486px;
    margin: 125px auto 85px;
}

.txt-desc {
    position: relative;
    max-width: 475px;
    margin: 0 auto;
    line-height: 24px;
    font-size: 18px;
}

.txt-desc .tit-desc {
    font-size: 24px;
    font-weight: bold;
}

.txt-desc::before,
.txt-desc::after {
    content: "";
    width: 37px;
    height: 32px;
    margin-top: -14px;

    position: absolute;
    top: 50%;
}

.txt-desc::before {
    left: 0;
    background-image: url("../images/txt-left.png");
}

.txt-desc::after {
    right: 0;
    background-image: url("../images/txt-right.png");
}

/* main ------------------------------------------- */
main {
    margin-bottom: 130px;
}

.cont-input,
.cont-result {
    font-size: 24px;
    line-height: 24px;
}

.cont-input .txt-wannabe {
    margin-bottom: 30px;
}

.cont-input .txt-time {
    margin-bottom: 120px;
}

.cont-input input {
    width: 224px;
    height: 57px;
    font-size: 24px;
    text-align: center;
    border-radius: 7px;
    border: none;
    margin: 0 17px;
}

.cont-input input::placeholder {
    color: #babcbe;
}

.cont-input .btn-exc {
    position: relative;
}

.cont-input .btn-exc::after {
    content: "";
    width: 64px;
    height: 72px;
    background-image: url("../images/hand.png");

    position: absolute;
    right: -70px;
    bottom: -20px;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.cont-result .txt-wannabe {
    margin: 147px auto 127px;
    line-height: 72px;
}

.cont-result .txt-wannabe strong {
    font-size: 72px;
    font-family: "GmarketSansBold";
    vertical-align: -14px;
    margin: 0 12px;
}

.btn-share {
    background-color: white;
    margin-left: 18px;
}

/* footer ----------------------------------------- */

.cont-footer {
    padding-bottom: 70px;
    font-size: 12px;
    line-height: 17px;
    font-family: "Noto Sans KR";
}

.cont-footer .img-footer {
    width: 125px;
    margin-bottom: 20px;
}

/* modal ------------------------------------------ */

#modal {
    display: none;
}

#modal.modal-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 200;

    display: flex;
    align-items: center;
    justify-content: center;
}

#modal .modal-wrap {
    color: #5b2386;
    border: none;
    border-radius: 20px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 76px 126px 68px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#modal h2 {
    font-size: 66px;
}

#modal h3 {
    font-size: 30px;
}

#modal img {
    max-width: 344px;
}

#modal .btn-close {
    margin-top: 74px;
}
