body {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

.wrap {
    width: 800px;
    height: 800px;
    background-color: skyblue;

    position:relative;
    z-index: -100;
}
/* 전면부 */
.front div{
    z-index: 0;
    position: absolute;
}
/* 렌즈 */
.lens {
    width: 200px;
    height: 180px;
    background-color: #ccc;
    border: 10px solid black;
    border-radius: 80px;
    z-index: 10;
    overflow: hidden;

    transition: all 2s;
    animation: fade-out 7s 2s infinite;
}

.lens.left {
    top: calc(50% - 180px);
    left: calc(50% - 250px);
}
.lens.right {
    top: calc(50% - 180px);
    right: calc(50% - 250px);
}

.lens .light-ef {
    width: 20%;
    height: 150%;
    background-color: rgba(255,255,255,0.6);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.eyes {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: -10; */
    animation: fade-in 7s 2s infinite;
}

@keyframes fade-out {
    60% {
        background-color: #ccc;}
    80% {
        background-color: transparent;
    }
    100% {
        background-color: transparent;
    }
}
@keyframes fade-in {
    60% {
        background-color: transparent}
    80% {
        background-color: #000;
    }
    90% {
        height: 10px;
        border-radius: 0;
        background-color: #000;
    }
    95% {
        height: 100px;
        background-color: #000;
    }
}

.bridge {
    width: 100px;
    height: 20px;
    background-color: black;
    border-radius: 50% 50% 10px 10px;
    top: calc(50% - 100px);
    left: 50%;
    transform: translate(-50%, -50%);
}
